<form id="fs-frm" name="interest-contact-form" accept-charset="utf-8" action="https://formspree.io/f/meqylkeb" method="post" onsubmit="this.submit(); this.reset(); return false;">
  <fieldset id="fs-frm-inputs">
    <label for="first-name">First Name</label>
    <input type="text" name="first name" id="first-name" placeholder="John" required="true">
    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" id="last-name" placeholder="Doe" required="true">
    <label for="telephone">Phone Number</label>
    <input type="tel" name="telephone" id="telephone" placeholder="555-555-5555"required="">
    <label for="email-address">Email Address</label>
    <input type="email" name="email" id="email-address" placeholder="email@address.com" required="true">
    <label for="interest">Interest</label>
    <select name="interest" id="interest" required="">
      <option value="" selected="" disabled="">Select</option>
      <option value="Website">Website</option>
      <option value="Search Engine Optimization">Search Engine Optimization</option>
      <option value="E-commerce">E-commerce</option>
      <option value="Content Marketing">Content Marketing</option>
      <option value="Digital Strategy">Digital Strategy</option>
      <option value="Maintenance & Support">Maintenance & Support</option>
      <option value="Other">Other</option>
    </select>
    <label for="message">Message</label>
    <textarea rows="3" name="message" id="message" placeholder="Briefly describe the project and a good time to get in touch..." required="true"></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="interest Contact Form Submission">
  </fieldset>
  <input type="submit" value="Send!">
</form>