<!-- Default Statcounter code for ZeroDae https://www.zerodaedal.us -->
<script type="text/javascript">
var sc_project=12996919; 
var sc_invisible=1; 
var sc_security="735ce181"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12996919/0/735ce181/1/" alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->